.todayBtn {
    margin-right: 10px;
    padding: 6px 12px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 900;
    background-color: #88c5fa;
    color: #ffffff;
  }
  
  .todayBtn:active {
    background-color: red;
  }