.calendar-container {
  width: 90%;
  display: flex;
  justify-content: center;
}

.calendar-content {
  max-width: 400px; /* Reduce the max-width to 50% of the original value */
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border: 3px solid #88c5fa;
  padding: 15px;
  padding-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px; /* Reduce the padding to make the header smaller */
}

.month-label {
  font-size: 0.75rem; /* Reduce the font size to 50% of the original value */
  font-weight: bold;
  color: #333333;
  cursor: pointer;
}

.navigation-buttons {
  display: flex;
  align-items: center;
  color: #333333;
}

.navigation-icon {
  cursor: pointer;
}

.table-wrapper {
  overflow-x: auto;
  padding: 0 8px; /* Reduce the padding to make the table wrapper smaller */
}

.calendar-table {
  width: 100%;
  border-collapse: collapse;
}

.calendar-table th {
  padding: 6px; /* Reduce the padding to make the table header smaller */
  text-align: center;
  font-size: 0.75rem; /* Reduce the font size to 50% of the original value */
}

.calendar-table td {
  padding: 6px; /* Reduce the padding to make the table cells smaller */
  cursor: pointer;
  font-size: 0.75rem; /* Reduce the font size to 50% of the original value */
}

.day-text {
  color: black; /* Change the text color to black */
  font-size: 10px; /* Change the font size to 10px */
}

.selected-date {
  color: #88c5fa;
  font-weight: bold;
  font-size: 1.5rem;
}
