/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[3]!./app/gaebokchi/page.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.page_flex-container__EV9Ih {
  display: flex;
  align-items: center;
}

.page_left-content__u6CCW {
  width: 350px;
  height: calc(100vh - 80px);
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page_right-content__hNUOp {
  width: calc(100vw - 350px);
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: calc(100vh - 80px);
}

.page_add-button__IqwzW {
  width: 250px;
  background-color: #ffffff;
  color: #88c5fa;
  border: 3px solid #88c5fa;
  border-radius: 50px;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 15px;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.page_add-button__IqwzW:active {
  background-color: #88c5fa;
  color: white;
}

/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[3]!./styles/calendar.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
.calendar_calendar-container__5mCYB {
  width: 90%;
  display: flex;
  justify-content: center;
}

.calendar_calendar-content__QeOkN {
  max-width: 400px; /* Reduce the max-width to 50% of the original value */
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border: 3px solid #88c5fa;
  padding: 15px;
  padding-bottom: 20px;
}

.calendar_header___f9Ca {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px; /* Reduce the padding to make the header smaller */
}

.calendar_month-label__Jr5tK {
  font-size: 0.75rem; /* Reduce the font size to 50% of the original value */
  font-weight: bold;
  color: #333333;
  cursor: pointer;
}

.calendar_navigation-buttons__tuFMY {
  display: flex;
  align-items: center;
  color: #333333;
}

.calendar_navigation-icon__Y_buq {
  cursor: pointer;
}

.calendar_table-wrapper__CiV0C {
  overflow-x: auto;
  padding: 0 8px; /* Reduce the padding to make the table wrapper smaller */
}

.calendar_calendar-table__n7CMj {
  width: 100%;
  border-collapse: collapse;
}

.calendar_calendar-table__n7CMj th {
  padding: 6px; /* Reduce the padding to make the table header smaller */
  text-align: center;
  font-size: 0.75rem; /* Reduce the font size to 50% of the original value */
}

.calendar_calendar-table__n7CMj td {
  padding: 6px; /* Reduce the padding to make the table cells smaller */
  cursor: pointer;
  font-size: 0.75rem; /* Reduce the font size to 50% of the original value */
}

.calendar_day-text__Ru5Ag {
  color: black; /* Change the text color to black */
  font-size: 10px; /* Change the font size to 10px */
}

.calendar_selected-date__d_IgE {
  color: #88c5fa;
  font-weight: bold;
  font-size: 1.5rem;
}

.calendar_todayBtn__Xp6Cl {
  margin-right: 10px;
  padding: 6px 12px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 900;
  background-color: #88c5fa;
  color: #ffffff;
}

.calendar_todayBtn__Xp6Cl:active {
  background-color: red;
}

.calendar_FaAngleUp__dieKu:hover {
  opacity: 0.7;
  color: red;
  cursor: pointer;
}

.calendar_FaAngleDown__r4023:hover {
  opacity: 0.7;
  color: red;
  cursor: pointer;
}

